.createReader{
    width: 100vw;
    height: 90vh;
    background-image: url("/res/image/adminBackground.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 5% 15% 5% 30% 5% 15% 15% 10%;
    grid-template-rows: 5% 20% 20% 10% 10% 10% 10% 10% 5%;
    >div, >span, >img{
        width: 90%;
        height: 90%;
        margin: 5%;
        border: 0;
        padding: 0;
        color: black;
    }
    >div{
        >span{
            color: red;
        }
    }
}
.image{
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 50%;
    background-color: white;
}
.title{
    grid-area: 2 / 4 / 3 / 5;
    background-color: #E9D581;
    display: flex;
    div{
        font-size: 2rem;
        margin: auto;
    }
}
.userName{
    grid-area: 5 / 4 / 6 / 5;
    background-color: #E7D69D;
    display: flex;
    flex-direction: column;
}
.studentID{
    grid-area: 6 / 4 / 7 / 5;
    background-color: #E3DABB;
    display: flex;
    flex-direction: column;
}
.tel{
    grid-area: 7 / 4 / 8 / 5;
    background-color: #EDE7D3;
    display: flex;
    flex-direction: column;
}
.inputContent{
    height: 70%;
    display: flex;
    >label, >input{
        margin: auto;
    }
    >label{
        font-size: 1rem;
    }
}
.inputAlert{
    color: red;
}
.password{
    grid-area: 2 / 6 / 3 / 8;
    background-color: #E9D581;
    display: flex;
    flex-direction: column;
    >label, >input{
        margin: auto;
    }
    >label{
        font-size: 1.5rem;
    }
}
.confirm{
    grid-area: 3 / 6 / 4 / 8;
    background-color: #EDD262;
    display: flex;
    flex-direction: column;
    >label, >input{
        margin: auto;
    }
    >label{
        font-size: 1.5rem;
    }
}
.cash{
    grid-area: 5 / 6 / 7 / 7;
    background-color: #FAD63C;
    display: flex;
    flex-direction: column;
    >label, >input{
        margin: auto;
    }
    >label{
        font-size: 1.5rem;
    }
    >input{
        width: 80%;
    }
}
.balance{
    grid-area: 5 / 7 / 7 / 8;
    background-color: #FAD63C;
    display: flex;
    flex-direction: column;
    >label, >input{
        margin: auto;
    }
    >label{
        font-size: 1.5rem;
    }
    >input{
        width: 80%;
    }
}
.policy{
    grid-area: 7 / 6 / 8 / 8;
    >label, >input{
        margin: auto;
        background-color: white;
    }
    >label{
        font-size: 0.8rem;
    }
}
.cancel{
    grid-area: 8 / 6 / 9 / 7;
    display: flex;
    button{
        width: 50%;
        margin: auto;
    }
}
.register{
    grid-area: 8 / 7 / 9 / 8;
    display: flex;
    button{
        width: 50%;
        margin: auto;
    }
}