.userEntry{
    color: white;
    float: right;
    span{
        cursor:pointer;        
    }
}

.userImage{
    width: 8vh;
    height: 8vh;
    float: left;
    background-color: white;
    // background-size这个需要注意，大小需要看伸缩时是宽度会有富余还是高度会有富余，有富余者为auto，刚好填充满的就是100%
    //比如宽高分别： 容器是100px*100px的，图片是240px*200px，那么在缩小填充容器时图片的高度会先触及到容器的边缘，也就是填满容器时，宽度有富余为auto，高度为100%；
    background-size: auto 100%;  // 可以使用cover
    background-position: center; //背景图片居中显示，让多余部分相对容器对此展示
    background-repeat: no-repeat;
    background-origin: border-box; //从border开始填充
    background-clip: border-box;
    border-radius: 50%;
    margin-right: 2vh;
}

.userSignIAndLogIn{
    position: fixed;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1023;
    background: radial-gradient(25% 35%,rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6))
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
    font-size: 4rem;
    z-index: 1024;
    cursor:pointer;
}