.frame {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
}
.navLayout {
    width: 100vw;
    height: 100vh;

    .navHeader{
        width: 100vw;
        height: 10vh;
        margin: 0;
        padding: 5px;
        .title {
            color: #EFBA24;
            font-size: 1.5rem;
        }
        .search{
            margin: 0;
        }
        .userContent{
            margin: 0;
        }
    }

    .navContent {
        width: 100vw;
        height: 90vh;
        background-color: #fff;
        overflow-y: auto;
    }
}

